a {
  color: #0099cc; /*#0099cc; */ /*#14A098;*/ /*#0099cc;*/
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f18800; /* #f18800; */
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
}

strong {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

heading {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

name {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 20px;
}

/* Style the header links */
.header a {
  float: left;
  /*color: #0099cc;*/
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  /*line-height: 25px;*/
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: white;
  color: #f18800;
}

/* Float the link section to the right */
.header-left {
  float: left;
}

.header-right {
  float: right;
}
